/.gradle/
/tests.MD
/app/release/
/.idea
/local.properties
/fastlane/report.xml
/.kotlin/
/build/
/buildSrc/.gradle/
/buildSrc/build/
upload-keystore.jks
upload_certificate.pem
deployment_cert.der
/app/src/main/assets/extensions/
/app/src/main/assets/extensions/midori_newtab
